button{
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #F44236;
    border: none;
    color: #FFF;
    cursor: pointer;
    opacity: .9;
    flex: 1;
}
button:hover{
    opacity: 1;
}
#clear-btn{
    background-color: #444;
}